.containerplanets{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.col-1{
    width: 8.33%;
}
.plane img{
    border-radius:50%;
}

.plane{
    width: 20%;
    display: flex;
}

.btn-previous{
    text-align: center;
}

.imgplanets{
    width: 100%;
    height: auto;
}
.containerimg{
    width: 100%;
}
.containeravatar{
    width: 25%;
    position: absolute;
    top:80%;
    left:10%
}
.bubble-text{
    font-size: 30px;

    background: white;
    color: black; 
    padding:7px 15px; 
    border-radius:50%; 
    width:350px;
    position: absolute;
    top: 60%;
    left: 17%;
    height: 150px;

}
    
.bubble-text::after{
content:""; 
border-left:20px solid transparent;
border-right:20px solid transparent;
border-top: 50px solid white;
position: absolute;
top: 100%;
}

.containertext{
    padding: 1rem;
    font-family: 'Lobster', cursive;
    width: 50%;
    font-size: 30px;
    position: absolute;
    left: 40%; 
    
}

.btn-previous{
    margin-bottom: 50px;
}
@media screen and (max-width:500px){

    .plane{
        width: 80%;
        display: flex;
        justify-content: flex-end;

    }

    .containeravatar{
        top: 70%;
    }

    /* texte de la bulle + la bulle*/
    .bubble-text{
        top: 62%;
        height: 50px;
        width: 100px;
        font-size: 10px;
        left: 20%;
    }
    /* cone de la bulle*/
    .bubble-text::after{
        border-left:5px solid transparent;
        border-right:10px solid transparent;
        border-top: 30px solid white;
        top: 85%;
    }

       /* description du texte*/
    .containertext{
        position:relative;
        width: 90%;
        font-size: 15px;
        left: 5%;
    }
    .btn-ChoiceCharacter{
        width:20%;
        font-size: 1rem!important;
    }

    
}
@media screen and (min-width:501px) and (max-width:1023px){

    .plane{
        width:40%;
        display: flex;
        justify-content: flex-end;
        
    }

    .containeravatar{
        top: 70%;
    }
    .containeravatar img{

        width:110%;
    }
    .bubble-text{
        top: 60%;
        height: 100px;
        width: 290px;
        font-size: 25px;
        left: 20%;
        line-height: 80px;
        text-align: center;
    }
    .bubble-text::after{
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-top: 50px solid white;
        top: 75%;
        left: 20%;

    }
    .containertext{
        position:relative;
        width: 90%;
        font-size: 25px;
        left: 5%;
    }

    .containerimg img{
        width: 100%;
    }
    .btn-ChoiceCharacter{
        width:20%;
        font-size: 1.5rem!important;
    }


    
}

@media screen and (min-width:1024px){

    .plane{
        width:20%;
        display: flex;
        justify-content: flex-end;
        
    }

    .containeravatar{
        top: 70%;
    }
    .containeravatar img{

        width:90%;
    }
    .bubble-text{
        top: 60%;
        height: 100px;
        width: 250px;
        font-size: 25px;
        left: 20%;
        text-align: center;
        line-height: 80px;
    }
    .bubble-text::after{
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-top: 50px solid white;
        top: 75%;
        left: 20%;

    }
    
    .containertext{
        position:relative;
        width: 90%;
        font-size: 40px;
        left: 5%;
    }

    .containerimg img{
        float: left;
        width:50;
        margin-bottom: 5%;
    }

    .btn-ChoiceCharacter{
        width:20%;
        font-size: 1.5rem!important;
    }


    
}