.language-img{
    height:100%;
    object-fit: contain;
}


.language-img{
    width:50%;
}

.btn-radio{
    font-size: 1rem;
    color:rgb(85, 84, 84);
}


.div-language-img{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;
}

@media screen and (max-width:500px){


    .language-img{
        width:50%;
    }

}