.container{
    background-color: rgb(187, 187, 247);
    background-image: linear-gradient(blue, white);
    border-radius: 15%;
    
}
.h4{
    font-size: 3 rem;
}
.CharacterPage {
    height: 100%;
    
}

.btn-radio {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-radio{
    width : 20px;
    height : 20px;   
}

.input-name{
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

}


.btn-ChoiceCharacter{
    padding:1rem 3rem;
   
}

.btn-next{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn-Choice{
    background-color: rgb(64, 76, 241);
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 15%;
   
}
.btn1{
    display: flex;
    justify-content: center;
    
}
.btn-Choice1{
    background-color: rgb(64, 76, 241);
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 15%;  
   
}

.avatar-component{
    margin-bottom: 2rem;;
}
.input-name{
    display: flex;
    justify-content: center;
}
.choice{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3 rem;
    
}
.perso{
   font-family: 'Lobster', cursive;
   color: white;
   
  

}
.btn-sucess{
    color: blue;
}

h2{
    padding:1.5rem;
}

@media screen and (max-width:500px){
    
    .container {
        height: auto;
        width: 100%;
        background-color: rgb(187, 187, 247);
    }

    .avatar{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }


    .btn {
         height: auto;
     }

    .btn-next {
        height: auto;
        width: 100%;
    }

    .btn-radio {
         height: auto;
         width: 20%;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .input-name{
         display: flex;
         justify-content: center;
     }
     .choice{
         font-family: 'Lobster', cursive;
         color:white;
     }
     .perso{
        font-family: 'Lobster', cursive;

     }

}