@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

h1{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}
.titi{
    align-items: center;
    margin-top: 10%;
    
    }
