@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.audio-img{
    object-fit: contain;
}

.audio-img{
    width:50%;
}

.section-audio{
    margin:0 auto;
}
.radio-activate,
.radio-desactivate{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;
    color:rgb(85, 84, 84);
    font-family: 'Acme', sans-serif;
}

.div-audio-img{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;
}

.btn-radio{
    font-size: 2rem;
}
.activate{
    display: flex;
    flex-direction: column;

}

.btn-radio{
    font-size: 1rem;
}


@media screen and (max-width:500px){

    .audio-img{
        width:50%;
    }

}
