



.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 100%;
  border: 10px solid black;
  

}

h3,h5{
    text-align: center;
}


.carousel-item img{
    width:40%;
    margin:0 auto;
    border-radius: 50%;
}

.buttons-planets{
    text-align: center;
    margin-top: 5%;
    
    
}


@media screen and (max-width:500px){
    .carousel-planet{
        width:100%;
        margin:0 auto;
    }

}